body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

p {
  font-size: 15px;
  margin: 10px 20px 20px;
  color: hsl(220, 15%, 55%);
}

.header-text{
  margin: 20px 12px 0;
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

img {
  width: 280px;
  border-radius: 10px;
}

.container-fluid{
  border-radius: 20px;
  background-color: #fff;
  padding:15px;
  margin: 150px auto;
  text-align: center;
  width: 315px;
  box-shadow: 0 3px 50px #9f9f9f;
}
